<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Observe the collection of todos in component's class</li>
    <li class="list-group-item">Render the list of todos using &lt;table&gt; tag</li>
    <li class="list-group-item">Observe the "active" class in component's styles</li>
    <li class="list-group-item">Apply the "active" class to the row when user clicks on it</li>
  </ul>
  <div class="container your-code">
    <div class="card text-white bg-info mt-3 mb-3">
      <div class="card-header"><b>Todo Items</b></div>
      <div class="card-body">
        <div class="card-text">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Todo of Todos;let i=index" 
        [ngClass]="{active: Todo === selectedTodo}"
        (click)="onSelectTodo(Todo)">
          <td><span class="badge badge-info">{{ i }}</span></td>
          <td>{{ Todo.id }}</td>
          <td>{{ Todo.type }}</td>
          <td>{{ Todo.description }}</td>
          <td>{{ Todo.completed }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div> 
 